/* src/App.css */
.app-container {
  display: flex;
}

.main-content {
  /* This margin-left must match the width of the sidebar */
  margin-left: 280px; 
  width: 100%;
  padding: 2rem;
}

html {
  scroll-behavior: smooth; /* Makes scrolling smooth */
}

section {
  height: 100vh; /* optional: full screen height per section */
  padding: 50px;
}